body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#menu {
  position: absolute;
  background: white;
  padding: 10px;
  font-family: sans-serif;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  z-index: 1;
}
.maplibregl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
